---
layout: html5
---
<!-- TODO: Use HTML 5 article tag. Test on IE. -->
<article id="post">
  <h1>{{ page.title }}</h1>
  {% if page.date %}
    <p class="meta"> {{ page.date | date_to_string }} </p>
  {% endif %}
  {{ content }}
</article>
<hr class="article-divider">

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'davidhu';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
